[submodule "BaseFrontendTemplates"]
	path = BaseFrontendTemplates
	url = https://github.com/vonschappler/base-project-templates.git
[submodule "ProjectStructureTutorial"]
	path = ProjectStructureTutorial
	url = https://github.com/vonschappler/project.git
